{% extends "tasks/base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block head %}
<style type="text/css">
.preview {
	margin:5px;
	padding:5px;
	background-color: #CECECE;
	border: 1px solid #ADADAD;
}
</style>
{% endblock %}

{% block content %}
<div id="tasks-ad-manage">
	<h3>{{ object.name }}</h3>
	<p class="preview">{{ object.message|urlize }}</p>
	<p>Target URL: {{ object.url|urlize }}</p>
	<p>Views: {{ object.views }}</p>
</div>
{% include "tasks/activity_advertising_form.html" %}
{% endblock %}
