{% extends "tasks/base.html" %}
{% load questions %}

{% block title %}{{ task.name }}{% endblock %}

{% block head %}
<style type="text/css">
.error {
	color:#CB7331;
}
</style>
{% endblock %}

{% block content %}
{% include "tasks/task/overview.html" %}
<div id="task-form">
	<form action="." method="post">
		<div class="task">
		{% for question in questions %}
			{% show_task_question_form question forloop.counter %}
			{% if question.error %}<span class="error">{{ question.error }}</span>{% endif %}
		{% endfor %}
		</div>
		<input type="submit" value="Submit" />
	</form>
</div>

{% endblock %}
