{% extends "tasks/base.html" %}
{% load questions %}

{% block title %}{{ object.name }} - Task{% endblock %}

{% block content %}
{% with 1 as hide_admin %}
{% include "tasks/task/overview.html" %}
{% endwith %}
{% include "tasks/activity_advertising_form.html" %}
<p>Completed {{ object.completions.count }} time{{ object.completions.count|pluralize }}</p>
<ul id="task-form">
	{% for question in object.questions.all %}
	<li>{% show_task_question_stats question %}</li>
	{% endfor %}
</ul>
{% endblock %}
