{% load activity_advertising %}
<div>
	{% if object.date_self_advertised %}
		Posted to your Twitter profile on <b>{{ object.date_self_advertised|date }}</b>
	{% endif %}
	<form action="{% url tasks-activity_self_advertise object.id %}" method="post">
		<input type="submit" value="Post to my Twitter profile{% if object.date_self_advertised %} (again){% endif %}" />
	</form>

	{% if object.date_site_advertised %}
		<br />
		Posted to <b>{% show_activity_site_account %}</b>'s Twitter profile on <b>{{ object.date_site_advertised|date }}</b>
	{% else %}
		<br />
		<div>
			{% with object.twitter_info as info %}
			<b>{{ info.user }}</b> currently has <b>{{ info.followers }}</b> follower{{ info.followers|pluralize }}.<br />
			It will cost <b>{{ info.cost }}</b> point{{ info.cost|pluralize }} to post to <b>{{ info.user }}</b>'s profile.
			{% if info.cost_variable %}
				({% if info.cost_fixed %}{{ info.cost_fixed }} + {% endif %}{{ info.cost_variable }} per follower)
			{% endif %}
			{% endwith %}
		</div>
		<br />
		<form action="{% url tasks-activity_site_advertise object.id  %}" method="post">
			<input type="submit" value="Post to {% show_activity_site_account %}'s Twitter profile" />
		</form>
	{% endif %}
</div>
