{% extends "base.html" %}
{% load credits %}

{% block base_head %}

<script type="text/javascript">
function initDatePicker(obj) {
	// Problem here, datepicker awlays puts the resulting date in the first matched input element
	$(obj).find('input[name="date_due"]').datepicker({defaultDate: new Date({% now "Y" %}, {% now "n" %} - 1, {% now "j" %}),});
}
$(document).ready(function() {
	{% if request.form_autosubmit %}
		$('.autoform').submit();
	{% endif %}
	initDatePicker('body');
});
</script>

{% block head %}{% endblock %}

{% endblock %}


{% block base_content %}
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
{% endblock %}
