{% extends "tasks/base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<div>
	<ul>
		<li><a href="{% url tasks-task_create %}">New Poll/Survey</a></li>
		<li><a href="{% url tasks-ad_create %}">New Campaign</a></li>
		<li><a href="{% url tasks-classified_create %}">New Classified Ad</a></li>
		<li><a href="{% url tasks-feed_create %}">New Feed</a></li>
	</ul>
</div>
<div>
	Labels:
	<ul class="label-list">
		<li><a {% if not view.label %}class="selected"{% endif %} href="?">All</a></li>
		{% for label in request.user.task_labels.all %}
		<li><a {% ifequal view.label label %}class="selected"{% endifequal %} href="?label={{ label.id }}">{{ label }}</a></li>
		{% endfor %}
	</ul>
</div>
<div>
	{% if view.completed %}
	<a href="?completed=0">View Incompleted</a>
	{% else %}
	<a href="?completed=1">View Completed</a>
	{% endif %}
</div>
<div>

<table border="0" id="tasktable">
	<thead>
		<tr>            
			<th>Task</th>   
			<th>Starts</th> 
			<th>Ends</th>
						
			{#<th>Done</th>#}
			{#<th>Del</th>#}
		</tr>
	</thead>
	<tbody>
		{% for task in tasks %}
			<tr class="{% cycle 'row1' 'row2' %}" id="task_{{ task.id }}">
				<td><a href="{{ task.derived.get_manage_url }}">{{ task.name|truncatewords:20 }}</a>
					<span style="color:#6A8D70"> {{ task.content_type|lower }} </span>
					{% for label in task.labels.all %}
					<a class="label" href="?label={{ label.id }}">{{ label }}</a>
					{% endfor %}
				</td> 
				<td>{{ task.date_created|date:"m/d/Y" }}</td> 
				<td>
				{% if task.is_overdue %}<span class="overdue">{% endif %}
					{{ task.date_due|date:"m/d/Y" }}  
				{% if task.is_overdue %}</span>{% endif %}
				</td>
				
				{% comment %}
				<td>
					<form class="task-set-complete-form" action="{% url tasks-task_set_completed %}" method="post">
						<input type="hidden" name="task_id" value="{{ task.id }}" />
						<input type="hidden" name="completed" value="1" />
						<input type="submit" value="*" class="mark_done" />
					</form>
				</td>
				{% endcomment %}
				{% comment %}
				<td><form class="task-set-complete-form" action="{% url tasks-task_delete %}" method="post">
					<input type="hidden" name="task_id" value="{{ task.id }}" />
					<input type="submit" value="x"/>
				</form></td> 	  
				{% endcomment %}          
			</tr>
		{% endfor %}
	</tbody>
</table> 

<div>
{% endblock %}
