{% extends "tasks/base.html" %}


{% block title %}{{ task.name }}{% endblock %}


{% block content %}

{% include "tasks/task_overview.html" %}

<div id="task-form">
	{% if request.user.is_authenticated %}
		{% if completed.count %}
			You have completed this task {{ completed.count }} time{{ completed.count|pluralize }}.<br />
		{% endif %}
		{% if started %}
			You already started this task {{ started.date_started|timesince }} ago. You may continue it now.<br />
			<form action="{% url tasks-task_do task.id %}" method="get">
				<input type="submit" value="Continue" />
			</form>
		{% else %}
			{% if remaining %}
				You have {{ remaining }} chance{{ remaining|pluralize }} remaining to do this task. Click start to begin.
				<form action="{% url tasks-task_do task.id %}" method="get">
					<input type="submit" value="Start" />
				</form>
			{% else %}
				You can no longer perform this task.
			{% endif %}
		{% endif %}
	{% else %}
		You are not signed in. Click start to login and begin this task.
		<form action="{% url tasks-task_do task.id %}" method="get">
			<input type="submit" value="Start" />
		</form>
	{% endif %}
</div>

{% endblock %}
