<td><input type="checkbox" name="mark_done" value="{{ task.id }}" id="mark_done_{{ task.id }}">   </td> 
<td><a href="{% url todo-task_detail task.id %}">{{ task.title|truncatewords:20 }}</a></td> 
<td>{{ task.created_date|date:"m/d/Y" }}</td>
<td>
{% if task.overdue_status %}<span class="overdue">{% endif %}
	{{ task.due_date|date:"m/d/Y" }}  
{% if task.overdue_status %}</span>{% endif %}	                
</td>
<td>{{ task.created_by }}</td> 
<td>{{ task.assigned_to }}</td>
<td style="text-align:center;">{% if task.note %}&asymp;{% endif %} </td>
<td style="text-align:center;">{% ifnotequal task.comment_set.all.count 0  %}{{ task.comment_set.all.count }}{% endifnotequal %}
   
</td>	            
{% ifequal list_slug "mine" %}
<td><a href="{% url todo-incomplete_tasks task.project.id %}">{{ task.list }}</a></td>   
{% endifequal %}
	   
<td><input type="checkbox" name="del_task" value="{{ task.id }}" id="del_task_{{ task.id }}">   </td> 	            
